* {
}

body {
  background-color: #111;
}

.title {
  color: white;
}

h1 {
  margin: 20px;
}

.container {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding-top: 10px;
}

.card {
  border: 1px solid #fab813;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
}

.image-area {
  width: 100%;
  padding-top: calc(100% * 1.5);
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.name {
  color: #fab813;
}
